# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.DatingApp.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\mishi\Desktop\DatingApp\.idea\.idea.DatingApp.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
